body {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  width: 100%;
  height: calc(102rem / 75);
  background-image: url(../img/background1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999;
  /* border: calc(2rem / 75) solid #5e7989; */
}
header .first {
  float: left;
  margin-top: calc(12rem / 75);
  border: calc(2rem / 75) solid #fff;
  border-radius: calc(18rem / 75);
  margin-left: calc(36rem / 75);
  box-sizing: border-box;
  width: calc(80rem / 75);
}
header .first img {
  width: 100%;
}
header div {
  float: left;
  margin-top: calc(18rem / 75);
  margin-left: calc(18rem / 75);
}
header h3 {
  font-size: calc(28rem / 75);
  color: #fff;
  font-weight: 700;
}
header p {
  color: #fff;
  font-size: calc(22rem / 75);
  margin-top: calc(6rem / 75);
}
.second {
  float: right;
  line-height: calc(102rem / 75);
}
.second img {
  width: calc(92rem / 75);
}
.sed1 img {
  margin-right: calc(28rem / 75);
}
.sed2 img {
  margin-right: calc(20rem / 75);
}
.xiazai {
  position: relative;
  width: 100%;
  height: calc(800rem / 75);
}
.xiazai img:nth-child(1) {
  width: 100%;
  height: 100%;
}
.xiazai img:nth-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(52rem / 75);
  margin: auto;
  width: calc(222rem / 75);
}
.xiazai img:nth-child(3) {
  position: absolute;
  top: calc(134rem / 75);
  left: calc(20rem / 75);
  height: calc(192rem / 75);
}
.xiazai img:nth-child(4) {
  position: absolute;
  width: calc(24rem / 75);
  left: 0;
  right: 0;
  margin: auto;
  bottom: calc(32rem / 75);
  animation: yidong 3s infinite ease;
}
@keyframes yidong {
  0% {
    bottom: calc(32rem / 75);
  }
  50% {
    bottom: calc(22rem / 75);
  }
  100% {
    bottom: calc(32rem / 75);
  }
}
.new {
  width: 100%;
  height: calc(970rem / 75);
  background-image: url(../img/background3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.new div {
  width: 100%;
  height: calc(780rem / 75);
  margin-top: calc(122rem / 75);
}
.new div a {
  float: left;
  display: block;
  width: 50%;
  height: calc(390rem / 75);
}
.wrap3 {
  overflow: hidden;
  width: 100%;
  height: 10.38rem;
  background: url(https://yys.res.netease.com/m/fab/20191219120103/img/bg3_c276771.jpg) center no-repeat;
  background-size: 100% 100%
}

.wrap3 .title {
  height: 1.26rem
}

.wrap3 .img-box {
  width: 100%;
  height: 100%;
  position: relative
}

.wrap3 #img-slide {
  width: 5.5rem;
  height: 7.76rem;
  margin: 1.3rem auto 0
}

.wrap3 #img-slide .swiper-slide {
  width: 4.65rem;
  height: 7.76rem;
  overflow: hidden
}

.wrap3 #img-slide img {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: .03rem solid #cbc08e
}

.wrap3 .prev-btn,.wrap3 .next-btn {
  position: absolute;
}

.wrap3 .prev-btn {
  left: .2rem;
  width: .43rem;
  height: .77rem;
  top: calc(2120rem / 75);
  background: url(../img/leftjiantou.png) center no-repeat;
  background-size: 100% 100%
}

.wrap3 .next-btn {
  right: .2rem;
  width: .43rem;
  top: calc(2120rem / 75);
  height: .77rem;
  background: url(../img/rightjiantou.png) center no-repeat;
  background-size: 100% 100%
}

footer {
  width: 100%;
  padding-bottom: calc(25rem / 75);
  background-color: #2c303c;
}
.foot-top {
  width: 100%;
  height: calc(140rem / 75);
}
.foot-top div {
  float: left;
  box-sizing: border-box;
  text-align: center;
  width: 33.333%;
  line-height: calc(140rem / 75);
}
.foot-top div img {
  width: calc(56rem / 75);
}
.foot-top div span {
  color: #fff;
}
.phone {
  width: 100%;
  height: calc(100rem / 75);
  border-bottom: calc(1rem / 75) solid rgb(78, 81, 91);
  text-align: center;
}
.phone p {
  color: #fff;
  line-height: 1.8;
}
.phone img {
  width: calc(22rem / 75);
  vertical-align: text-top;
}
.but {
  position: relative;
  width: 100%;
}
.but p {
  margin-left: calc(25rem / 75);
  color: #fff;
  line-height: 1.5;
}
.but p:first-child {
  margin-top: calc(25rem / 75);
}
.but .fhtop {
  position: absolute;
  display: block;
  right: calc(25rem / 75);
  bottom: 0;
  width: calc(80rem / 75);
  height: calc(80rem / 75);
}
.but i {
  margin-left: calc(25rem / 75);
}
.but a img {
  width: 100%;
}

.seed {
  color: #fff;
}
