header {
  position: fixed;
  width: 100%;
  height: calc(80rem / 75);
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
}
header .qiehuan {
  width: 100%;
  height: 100%;
  text-align: center;
}
header .qiehuan span {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  line-height: calc(80rem / 75);
  font-size: calc(30rem / 75);
}
.main {
  margin-top: calc(80rem / 75);
  width: 100%;
}
.main .bd {
  width: 100%;
  padding: calc(40rem / 75);
  box-sizing: border-box;
}
.main .bck {
  width: 100%;
  height: calc(400rem / 75);
}
.main .bck img {
  width: 100%;
  height: 100%;
}
.bd h1 {
  color: #d60000;
  font-weight: 700;
}
.bd p {
  font-size: calc(30rem / 75);
  line-height: 1.2;
}
.bd .zt {
  width: calc(608rem / 75);
  height: calc(72rem / 75);
  margin-top: calc(70rem / 75);
}
.bd .zt img {
  float: left;
  width: calc(60rem / 75);
}
.bd .zt p {
  font-size: calc(30rem / 75);
  margin-left: calc(78rem /75);
}
.phone { 
  width: 100%;
  height: calc(120rem / 75);
  background-color: #f8f8f8;
  margin-top: calc(70rem / 75);
}
.phone img {
  float: left;
  width: calc(32rem / 75);
  margin-top: calc(32rem / 75);
  margin-left: calc(24rem / 75);
}
.phone p {
  margin-left: calc(78rem /75);
}
.phone p:nth-child(2) {
  padding-top: calc(32rem / 75);
  font-weight: 700;
  font-size: calc(34rem / 75);
}
.phone p:nth-child(3) {
  font-size: calc(24rem / 75);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: calc(120rem / 75);
  background-color: #272a2c;
}
footer p {
  color: #fff;
  text-align: center;
  line-height: calc(120rem / 75);
}
.qiehuan .swiper-pagination-bullet {
  background: none;
  color: #333;
  opacity: 1;
}
.qiehuan .swiper-pagination-bullet-active {
  color: #d60000;
}
.qiehuan span:nth-child(1)::after {
  content: "首页";
}
.qiehuan span:nth-child(2)::after {
  content: "家长护航";
}
.qiehuan span:nth-child(3)::after {
  content: "守护未来";
}
.qiehuan span:nth-child(4)::after {
  content: "帮助";
}
.zt2 p:nth-child(2) {
  font-weight: 700;
  font-size: calc(36rem / 75);
}
.zt2 img {
  float: left;
  width: calc(60rem / 75);
}
.zt2 {
  width: 100%;
  margin-top: calc(70rem / 75);
}
 .zt2 img {
  float: left;
  width: calc(60rem / 75);
}
 .zt2 p {
  font-size: calc(30rem / 75);
  margin-left: calc(78rem /75);
}
.phone2 {
  margin-bottom: calc(120rem / 75);
}


.zt3 p:nth-child(2) {
  font-weight: 700;
  font-size: calc(36rem / 75);
}

.zt3 img {
  float: left;
  width: calc(60rem / 75);
}
.zt3 {
  width: 100%;
  height: calc(120rem / 75);
  margin-top: calc(70rem / 75);
}
 .zt3 img {
  float: left;
  width: calc(100rem / 75);
  margin-top: calc(10rem / 75);
}
 .zt3 p {
  font-size: calc(30rem / 75);
  margin-left: calc(118rem /75);
  line-height: calc(120rem / 75);
}
.phone3 {
  margin-bottom: calc(120rem / 75);
  margin-top: 0;
}
.phone3 p:nth-child(2),
.phone4 p:nth-child(2) {
  font-size: calc(26rem / 75);
}
.bd .xiangxi {
  font-size: calc(24rem / 75);
  line-height: 2;
}
.pro {
  position: relative;
  width: 100%;
  padding: calc(35rem / 75) 0;
  border-bottom: calc(1rem / 75) solid #ccc;
}
.pro img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: calc(20rem / 75);
}
.pro span {
  display: block;
  width: calc(600rem / 75);
  font-weight: 700;
  font-size: calc(26rem / 75);
  line-height: 1.6;
}
.bd .pro:last-child {
margin-bottom: calc(140rem / 75);
}